<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container w-50">
        <h1 class="mt-5">Account Statement</h1>
        <div class="btn-group btn btn-primary mt-5">
            <button>all</button>
            <button>debit</button>
            <button>credit</button>
          </div>
          <button>Export as</button>
          <button>Back to home</button>
    <table class="mt-5">
        <tr>
          <th colspan="2">Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        </table>
    </div>

</body>
</html>
