body{
    height: 100vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .btn-group button {
    background-color: blue;
    border: 1px solid blue;
    color: white; 
    padding: 10px 24px;
    align-content: center;
  }
  .btn-group button:hover{
    background-color: aliceblue;
    color:black;
  }
 button{
    background-color: blue;
    border: 1px solid blue;
    color:white;
    padding: 10px 24px;
    align-content: center;
}
    button:hover{
    background-color: aliceblue;
    color:black;
  }
  