<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-section">
     
    <!-- <div class="container"> -->
        <div class="row">
            <div class="col-lg-4 col-md-4 " id="div1">
                <div>
                  
                    <button type="button" class="btn btn-primary mt-3 mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <strong>View Profile</strong><i class="fa-solid fa-user fa-beat fa-xl text-warning mx-3 "></i>
                      </button>
                </div>
                <div>
                    <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" type="button" class="btn btn-primary mt-3"><strong>Balance Enquiry<i
                                class="fa-solid fa-sack-dollar fa-beat fa-xl text-warning mx-3"></i></strong></button>
                </div>
                <div>
                    <button data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button" class="btn btn-primary mt-3"><strong>Money Transfer <i
                                class="fa-solid fa-money-bill-transfer fa-beat fa-xl text-warning mx-3"></i></strong></button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary mt-3"><strong>Account Statement <i
                                class="fa-solid fa-table-list fa-beat fa-xl text-warning mx-3"></i></strong></button>
                </div>
                <div>
                    <button (click)="logout()" type="button" class="btn btn-primary mt-3"><strong>LogOut</strong><i
                            class="fa-solid fa-right-from-bracket fa-beat fa-xl text-warning mx-3"></i></button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary mt-3"><strong>Delete Account</strong><i
                            class="fa-solid fa-trash fa-beat fa-xl mx-3 text-warning"></i></button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary mt-3"><i
                            class="fa-solid fa-hand-holding-dollar fa-beat fa-2xl text-warning mx-3 "></i></button>
                </div>
                



            </div>
            <div class="col-lg-8 col-md-8  mt-5 mb-3" id="div2">

                <div class="mt-5  d-flex ">
                    <h3 class="mt-5">ENJOY NET BANKING WITH<strong class="text-primary"> SBI</strong> </h3><br>



                </div>
                <div>
                    <p><b>Online banking allows you to conduct financial transactions via the Internet. Online banking is also known as Internet banking or web banking. Online banking offers customers almost every service traditionally available through a local branch including deposits, transfers, and online bill payments.</b></p>
                </div>
            </div>
        </div>

    </div>

  
  

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
        <div class="modal-header bg-primary text-white">

          <h5 class="modal-title text-primary  text-white " id="exampleModalLabel"><b>Profile Details</b></h5>
 
          <button type="button" class="btn-close text-reset" data-bs-dismiss="modal" aria-label="Close"></button>


           
        </div>

        <div class="modal-body">
        <div class="text-center">
            <img class="w-50" style="height:200px;" src="https://i.postimg.cc/7ZVMMDfS/profile.webp">
        </div>
        <div class="mt-3">
            <h4>User Name: <B>SHABNA </B> </h4>
            <h4 class="mt-2">Account Number: <B>12345687</B></h4>

        </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>


  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header bg-primary text-white">

      <h5 class="offcanvas-title text-primary  text-white" id="exampleModalLabel">Balance Enquiry</h5>
      <button type="button" class="btn-close text-reset mx-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <img style="height:200px;" src="https://i.postimg.cc/JnmWYhHh/money.jpg">
     <p class="mt-3" > Hi <B>SHABNA</B><br><h5 class="text-primary mt-3">Your balance is : Rs.54000</h5>
    </p>
      <div>

      </div>
      
    </div>
  </div>
  <!-- </div> -->
  

  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-center">
          <h5 class="modal-title text-primary  text-white " id="exampleModalLabel"><b>Money Transfer</b></h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="modal" aria-label="Close"></button>

          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <!-- <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
          <img class="mt-2" style="height:200px;"   src="https://i.postimg.cc/L4k77wJs/new.jpg">
            <form action="">
          <input type="text" id="acno" class="form-control mt-3" name="account" placeholder=" Account number">
          <input type="text" id="tracno" class="form-control mt-3" name="transfer" placeholder="Account to transfer">
          <input type="text"  id="pswd" class="form-control mt-3" name="password" placeholder="Password">
          <button type="button" class=" form-control btn btn-primary w-75 mt-4">Proceed</button>
          </form>


        </div>
        <!-- <div class="modal-footer"> -->
          <!-- <button type="button" class="btn btn-secondary w-25" data-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
    </body>
    </html>
    
    